/* @import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Muli:70,900&display=swap');
@import url('https://rsms.me/inter/inter.css'); */

h2 {
  font-size: 1rem;
  font-weight: 900;
}

body {
  background-color: #fff;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 280px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 1;
  margin-top: 20px;
}

.row {
  padding: 0;
}

.no-data {
  text-align: center;
  margin-top: 50px;
  font-size: 1.8rem;
  color: #ff6b6b; /* Warna merah lembut */
  font-weight: bold;
  background-color: #ffecec; /* Latar belakang merah muda */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.card {
    border-radius: 4px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 40px rgba(143, 158, 190, 0.3);
    transition: box-shadow 0.3s ease-in;
    position: relative;
    z-index: 1;
}

.card:hover {
    box-shadow: 0px 10px 40px rgba(143, 158, 190, 0.5);
}

.card__thumbnail {
    position: relative;
    overflow: hidden;
    width: 100%; /* Pastikan thumbnail memiliki lebar penuh kontainer card */
    height: 150px; /* Tentukan tinggi untuk menjaga ukuran thumbnail tetap */
}

.card__thumbnail-image {
    width: 100%; /* Mengisi lebar penuh kontainer */
    height: 100%; /* Mengisi tinggi penuh kontainer */
    object-fit: cover; /* Memastikan gambar menutupi kontainer tanpa merusak rasio aspek */
    transition: transform 0.3s ease-in;
    transform: rotate(0) scale(1);
}

.card:hover .card__thumbnail-image {
  transition: transform 0.5s ease-in;
  transform: rotate(15deg) scale(1.5916666667);
}

.card__favourite {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
}

.card__header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem 1rem 0.75rem;
  background-image: linear-gradient(180deg, rgba(52, 59, 72, 0) 0%, #343B48 100%);
}

.card__header-title {
  margin: 0 0 0.125rem 0;
  color: #FFF;
}

.card__header-subtitle {
  margin: 0;
  font-size: 0.625rem;
  color: #FFED4A;
}

.card__content {
  padding: 0.5rem 1rem;
  background-color: #FFF;
}

.card__description {
  font-size: 0.75rem;
  line-height: 1.5;
  margin: 0.5rem 0;
  color: #495469;
}

.card__description::after {
  content: "";
  display: block;
  border-bottom: 1px solid #F1F5FD;
  margin-top: 1rem;
}

.card__action {
  font-size: 0.625rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: block;
  color: #FF804A;
  letter-spacing: 1.3px;
  padding: 0.625rem 0;
}

.card__action:hover {
  text-decoration: underline;
}

/* Responsive Rule - Medium */

@media (max-width: 599px) {
  .hidden-small {
    display: none;
  }
}

@media (min-width: 600px) {

  .container {
    max-width: 560px;
  }

  .column-medium {
    max-width: calc(50% - 40px);
  }

}

/* Responsive Rule - Large */

 @media (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }

  .column-large {
    max-width: calc(25% - 40px);
  }
} 